<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Demo ReactJS </title>
  <script src="lib/react.js"></script>
<script src="lib/react-dom.js"></script>
<script src="lib/browser.min.js"></script>
<link rel="stylesheet" href="style/main.css">
</head>
<body>
  
<style>
    .mauvang{
        background-color:yellow
    }
</style>

  <div id='root'>
  </div>

  <script src='js/doianh.js' type='text/babel'>
    
  </script>

</body>
</html>